<section class="mb-section">
    <h1 class="silver mb-12 text-[3.5rem] font-extrabold uppercase text-center leading-[3.8rem] md:text-[8rem] md:leading-[7rem] md:text-start">
        Latin <br/> Exclusive
    </h1>
    <figure>
        <div class="relative mb-4">
            <img class="w-full object-cover rounded-br-[3rem] md:h-[50rem] md:rounded-br-[5rem]" src="public/images/buildings/arch_01.jpg"/>
            <img class="border-zinc-950 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full md:w-[8rem]" src="public/images/another/pin.png"/>
        </div>
        <figcaption class="silver uppercase font-medium text-xs md:text-base">© Latin Exclusive firm est 2007</figcaption>
    </figure>
</section>