---
import TeamCard from "../utils/TeamCard.astro";
---

<section class="mb-section">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8">
        <h2 class="text-title">
            meet our people
        </h2>
        <p class="text-sm opacity-50 md:text-base">
            meet the best expert talents from our team who are ready to meet your needs.
        </p>
    </header>
    <section class="h-[35rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4">
        <TeamCard name="Arnold Bughon" alt="CEO" src="public/images/team/man_05.jpg" position="CEO"/>
        <TeamCard name="Julien Siri" alt="Luxury estate specialist" src="public/images/team/man_08.jpg" position="Luxury estate specialist"/>
        <TeamCard name="Marie-Emma Machado" alt="Sales Director" src="public/images/team/man_07.jpg" position="Sales Director"/>
        <TeamCard name="Pascale Fabart" alt="Brand Partnership Director" src="public/images/team/man_10.jpg" position="Marketing Director"/>
    </section>
</section>